p{
  text-align:center;
  color: #00FFAA
}
body{
background-color: beige;
border: 4px dotted;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
button{
  display: block;
  margin-left: 275px;
  color: white;
}
